body {
  background-image: url('../images/background.png');
}

/* #cover {
  background: url("to/your/ajaxloader.gif") no-repeat scroll center center #FFF;
  position: absolute;
  height: 100%;
  width: 100%;
} */

#flower-top-left{
  position: fixed;
  top: -20px;
  left: -35px;
  width: 18%;
  z-index: -1;
  transform: rotate(90deg) scaleY(-1);
}

#flower-top-right{
  position: fixed;
  top: -20px;
  right: -35px;
  width: 18%;
  z-index: -1;
  transform: rotate(90deg);
}

#flower-bottom-left{
  position: fixed;
  bottom: -20px;
  left: -35px;
  width: 18%;
  z-index: -1;
  transform: rotate(-90deg);
}

#flower-bottom-right{
  position: fixed;
  bottom: -20px;
  right: -35px;
  width: 18%;
  z-index: -1;
  transform: rotate(-90deg) scaleY(-1);
}

#title{
  font-family: 'Great Vibes', cursive;
  font-size: 100px;
  text-align: center;
  padding-top: 20%;
  color: #ff5252;
  font-weight: bold;
}

.message{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5px;
}

.message-content{
  font-size: 16px;
  font-family: 'Great Vibes', cursive;
  font-weight: 500;
  text-align: center;
  display: none;
  color: grey;
}

.images-data{
  /* text-align: center; */
  /* width: 45%; */
  object-fit: cover;
}

.image-data{
  border-radius: 5%;
  width: 45%;
  object-fit: contain;
}

/* CSS */
.row-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#image-control{
  margin-bottom: 50px;
}

#image-postcard-control{
  display: none;
  margin-bottom: 50px;
}

.button-1 {
  background-color: #EA4C89;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  /* padding: 25px 25px; */
  padding: 25px;
  padding-bottom: 45px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

audio {
	display: none;
}

.balloons {
	position: fixed;
	bottom: -200px;
  /* top: 10px; */
  transform: scaleX(-1);
	opacity: 0.5;
	z-index: -1;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat no-repeat;
	background-size: 35px 35px;
  background-image: url('../images/heart.png');
}
